@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia.Models.Blog.Post

@{
	Layout = "_Layout";
}

<fieldset>
	<form asp-action="Create" asp-controller="Blog">
		<p>
			<div asp-validation-summary="All"></div>
		</p>
		<p>
			<label asp-for="Title"></label>
			<input asp-for="Title" />
			<span asp-validation-for="Title"></span>
		</p>
		<p>
			<label asp-for="Body"></label>
			<textarea asp-for="Body"></textarea>
			<span asp-validation-for="Body"></span>
		</p>
		<button type="submit">Create Post</button>
	</form>
</fieldset>

